body {
    background-color: cadetblue;
    font-size: large;
    font-weight: bold;
    margin: 1em;
    padding: 0;
}

button {
    font-weight: bold;
    background: aqua;
    padding: 5px;
    border: none;
}

button:hover,
button:focus {
    background: #ffc400;
}